   .jumbotron {
   
    color: rgb(11, 74, 126);
    background-color: rgba(248, 243, 85, 0);
    opacity: .7;
    margin-top: 50px;
    margin-left: auto;
    width: 55%;
  }
  h1 {
    font-size: 20px;
    font-weight: 400;
    margin-left: -670px;
  }
  .btn {
    width:275px;
    padding:15px;
    font-size: 20px;
  }
  .main-button-container {
    max-width: 450px;
    margin-left: auto;
  }
  #mainArea {
    margin-top:10px;
    max-width: 50%;
    margin-left: 220px;
    color: rgb(97, 206, 160);
    font-size: 26px;
    height: 500px;
  }
  .timer-p {
    margin-top: 50px;
    font-size:24px;
  }
  
  p.text-center {
    font-size:24px;
  }
  .answer:hover {
    background: rgba(250, 240, 99, 0.99);
  }

  p {
    font-size: 18px;
    font-weight: 400;
    margin-left: -270px;
  }
  .answer {
    
    height: 55px;
    color: black;
    padding: 15px;
    background-color: white;
    border-radius: 4px;
    opacity: .7;

  }

  img {
    margin-top: 30px;
    width:70%;
    border-radius: 25px;
    
  }
  .img-wrong {
    border-radius: 25px;
    margin-top: 40px;
    width:60%;
    
  }
  
  .first-answer {
    margin-top: 40px;
  }
  
  .reset-button {
    margin-top: 40px;
  }
  
  .summary-correct {
    margin-top: 40px;
  }
  
  body {
    
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 100%;
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  @media (max-width: 575px) { 
    .timer-p {
      margin-top: 70px;
      margin-bottom: 30px;
    }
    body {
      background-repeat: repeat;
      text-align: center;
    }

    h1 {
      font-size: 36px;
      font-weight: 300;
    }

    p {
      font-size: 18px;
      font-weight: 300;
    }

    img, .img-wrong, .answer {
      margin-top: 30px;
      width:120%;
      text-align: left;
   
    }

   .btn {
      margin: auto;
      width: 100%;
      color: white;
      text-align: center;
      font-size: 20px;
    }

    .jumbotron, #mainArea, .main-button-container {
      margin: auto;
      width: 100%;
      color: white;
      text-align: center;
      font-size: 20px;
    }
   }
  
  
  @media (min-width: 576px) and (max-width: 767px) {  
  body {
    background-repeat: repeat;
    text-align: center;
  }

  h1 {
      font-size: 36px;
      font-weight: 300;
    }

  p {
      font-size: 18px;
      font-weight: 300;
    }

  img, .img-wrong, .answer {
    margin-top: 30px;
    width:120%;
    text-align: left;
  }
 .btn {
    width:100%;
  }
  .jumbotron, #mainArea, .main-button-container {
    margin: auto;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 20px;

  } 
}
  
 
  @media (min-width: 768px) and (max-width: 991px) {  
  body {
    background-repeat: repeat;
    text-align: center;
  }

  img, .img-wrong, .answer {
    margin-top: 30px;
    width:120%;
    text-align: left;
 
    
  }

  h1 {
    font-size: 36px;
    font-weight: 300;
  }

  p {
    font-size: 18px;
    font-weight: 300;
  }

 .btn {
    width:100%;
  }
  .jumbotron, #mainArea, .main-button-container {
    margin: auto;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 22px;

  } 
}
body {
  background-image: url("../imgs/1010.jpg");

}
.go p{
  background-color:orange;
  max-width: 460px;
}